body {
    font-family: sans-serif;
}

div {
    text-align: center;
}

h1 {
    font-family: monospace;
    font-size: 48pt;
}

h2 {
    font-size: 36pt;
}

h4 {
    color: darkgray;
}

table {
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 1px solid darkslategray;
    border-radius: 3px;
}

th {
    color: #acacff;
    background-color: darkslategray;
}

td {
    color: darkslategray;
    background-color: #acacff;
    font-weight: bold;
}

ol {
    list-style-position: inside;
}

span {
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
}

img {
    border: 3px solid black;
    border-radius: 50px;
    margin: 25px;
    width: 50%;
}

.pretty {
    color: magenta;
    text-shadow: 1px 1px 1px black, 3px 3px 10px darkblue;
}

.ugly {
    color: lime;
    text-shadow: 1px 1px 1px darkgreen, 3px 3px 10px magenta;
}